.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(201, 208, 217, 1) 0%
  );
  height: 100vh;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 20px;
  border-radius: 25%;
  padding: 10px;
  width: 25vw;
}
.btn:hover{
  cursor: pointer;
  background-color: aqua;
}